<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteCond %{HTTP_HOST} ^www\. [NC]
    RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

    Redirect 301 "http://greenappletravel.ae" "/"
    Redirect 301 "/wp-content/uploads/visa-page/indonesia/800x800/indonesia-800-009.jpg" "/country/RussiaTravel"
    Redirect 301 "/wp-content/uploads/visa-page/southkorea/800x800/2.jpg" "/country/RussiaTravel"
    Redirect 301 "/wp-content/uploads/visa-page/russia/800x800/11.jpg" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1448932000" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/866242560" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/940792160" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/464418" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/326044" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1178334432" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/797378656" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/741596672" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1108146752" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/972656544" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/799482016" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/619156" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/697582" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/433951" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/398349" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/604489" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1179644672" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1490967776" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1201336480" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1057330976" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1339704768" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1471568864" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/779306592" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1230474880" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/778504736" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1956250368" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/178994" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/223975" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/607377504" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/125699" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/686895" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/334328" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/264191" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/126788" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/142709" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/330540" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1506031392" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1088021952" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/532450" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/636985" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/376145" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1932563168" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1184455360" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/108344" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/731160096" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/441281" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/847340352" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1568687968" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1968604480" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/740340960" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/546929" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1226851520" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/118411" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1551276576" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/678080" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1215733664" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/453483" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/428039" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1009401984" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1129933920" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1624002048" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/250368" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1098117408" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1139506784" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/704058" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/153375" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1042201728" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/658205" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1020372224" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/115215" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1244578272" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/540432" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/267302" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1823912992" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1471127296" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1129315072" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1304464608" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/410475" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/759024608" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/486128" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/304810" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1558676672" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1830181920" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/650993" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/482441" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/628777" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/141545" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/1198400832" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/360828" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/416827" "/country/RussiaTravel"
    Redirect 301 "/hotels/info/266132" "/country/RussiaTravel"
    Redirect 301 "/sochi-russia-tours" "/country/RussiaTravel"

    Redirect 301 "/brazil-visa" "/country/BrazilTravel"
    Redirect 301 "/egypt-visa" "/country/EgyptTravel"
    Redirect 301 "/algeria-visa" "/country/AlgeriaTravel"
    Redirect 301 "/cyprus-visa" "/country/CyprusTravel"
    Redirect 301 "/ukraine-visa" "/country/UkraineTravel"
    Redirect 301 "/ghana-visa" "/country/ghanatravel"
    Redirect 301 "/south-korea-visa" "/country/SouthKoreaTravel"
    Redirect 301 "/new-zealand-visa" "/country/zealandtravel"
    Redirect 301 "/uk-visa" "/country/UKTravel"
    Redirect 301 "/product/russia-visa" "/country/RussiaTravel"

    Redirect 301 "/new-zealand-visa" "/country/zealandtravel"
    Redirect 301 "/services/holiday-packages/tour-to-armenia-in-june" "/country/ArmeniaTravel"
    Redirect 301 "/services/holiday-packages/almaty-tour" "/country/RussiaTravel"
    Redirect 301 "/product/turkmenistan-visa" "/country/RussiaTravel"
    Redirect 301 "/fifa2018-group-d" "/country/RussiaTravel"
    Redirect 301 "/product/malaysia-visa" "/country/RussiaTravel"
    Redirect 301 "/product-tag/spice-market" "/country/RussiaTravel"
    Redirect 301 "/travel-services" "/country/RussiaTravel"
    Redirect 301 "/product/tanzania-visa" "/country/RussiaTravel"
    Redirect 301 "/product/thailand-tour-bangkok-pattaya-4-night5-days" "/country/RussiaTravel"
    Redirect 301 "/ar/croatia-visa-2" "/country/RussiaTravel"
    Redirect 301 "/product-tag/al-ain" "/country/RussiaTravel"
    Redirect 301 "/services/holiday-packages/romantic-holidays-in-st-petersburg" "/country/RussiaTravel"
    Redirect 301 "/travel-agent" "/country/RussiaTravel"
    Redirect 301 "/product/usa-visa" "/country/RussiaTravel"
    Redirect 301 "/russia-visa" "/country/RussiaTravel"
    Redirect 301 "/ar/10645-2" "/country/RussiaTravel"
    Redirect 301 "/policy" "/country/RussiaTravel"
    Redirect 301 "/product/schengen-visa" "/country/RussiaTravel"
    Redirect 301 "/product-category/tour-packages/eid-packages" "/country/RussiaTravel"
    Redirect 301 "/portfolio-items/russia-tour-package" "/country/RussiaTravel"
    Redirect 301 "/product/china-visa" "/country/RussiaTravel"
    Redirect 301 "/product/thailand-visa" "/country/RussiaTravel"
    Redirect 301 "/tanzania-visa" "/country/RussiaTravel"
    Redirect 301 "/product/usa-visa" "/country/RussiaTravel"
    Redirect 301 "/product/egypt-visa" "/country/RussiaTravel"
    Redirect 301 "/product/azerbaijan-visa" "/country/RussiaTravel"
    Redirect 301 "/product/moscow-tour-3-nights-4-days" "/country/RussiaTravel"
    Redirect 301 "/product/kazakhstan-visa" "/country/RussiaTravel"
    Redirect 301 "/product/south-korea-visa" "/country/RussiaTravel"
    Redirect 301 "/services/holiday-packages/brazil-tour-in-2017" "/country/RussiaTravel"
    Redirect 301 "/services/holiday-packages/eid-in-tbilisi-georgia" "/country/RussiaTravel"
    Redirect 301 "/japan-visa" "/country/RussiaTravel"
    Redirect 301 "/services/tour-packages/eid-in-tbilisi-georgia" "/country/RussiaTravel"
    Redirect 301 "/services/holiday-packages/big-trip-russia-2017" "/country/RussiaTravel"
    Redirect 301 "/services/holiday-packages/baikonur-spaceport-3-days-tour" "/country/RussiaTravel"
    Redirect 301 "/sochi-russia-tours" "/country/RussiaTravel"
    Redirect 301 "/russia-visa/title" "/country/RussiaTravel"
    Redirect 301 "/product/kazakhstan-tours" "/country/RussiaTravel"
    Redirect 301 "/product/uzbekistan-tourism" "/country/RussiaTravel"
    Redirect 301 "/contact-us" "/country/RussiaTravel"
    Redirect 301 "/services/holiday-packages/spa-piestanyslovak-republic" "/country/RussiaTravel"
    Redirect 301 "/product/ukraine-visa" "/country/RussiaTravel"
    Redirect 301 "/belarus-visa" "/country/RussiaTravel"
    Redirect 301 "/product/uzbekistan-visa" "/country/RussiaTravel"
    Redirect 301 "/services/holiday-packages/cruise-scandinavian-legends-norway" "/country/RussiaTravel"
    Redirect 301 "/services/holiday-packages/4-days-kazakhstan-astana-tour" "/country/RussiaTravel"
    Redirect 301 "/portfolio-items/maldives-tour-package" "/country/RussiaTravel"
    Redirect 301 "/product/compare-flights" "/country/RussiaTravel"
    Redirect 301 "/product/kenya-visa" "/country/RussiaTravel"
    Redirect 301 "/product-tag/dubai-dolphinarium-deals" "/country/RussiaTravel"
    Redirect 301 "/travel/discover-georgia" "/country/RussiaTravel"
    Redirect 301 "/singapore-visa" "/country/RussiaTravel"
    Redirect 301 "/product-tag/4d3n-turkey-package" "/country/RussiaTravel"
    Redirect 301 "/product/singapore-visa" "/country/RussiaTravel"
    Redirect 301 "/tours-ckgeorgia1" "/country/RussiaTravel"
    Redirect 301 "/product/china-holiday" "/country/RussiaTravel"
    Redirect 301 "/product-tag/holiday" "/country/RussiaTravel"
    Redirect 301 "/product/russian-visa" "/country/RussiaTravel"
    Redirect 301 "/product/kyrgyzstan-visa" "/country/RussiaTravel"
    Redirect 301 "/winter-deals-tbilisi" "/country/RussiaTravel"
    Redirect 301 "/services/holiday-packages/witness-beauty-korea" "/country/RussiaTravel"
    Redirect 301 "/product/russia-holiday" "/country/RussiaTravel"
    Redirect 301 "/portfolio-items/jordan-tour-package" "/country/RussiaTravel"
    Redirect 301 "/canada-visa/title" "/country/RussiaTravel"

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/svg "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType text/css "access plus 1 month"

</IfModule>
